#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        td_q: tap_dance_q {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp ESC>;
        };

        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_capslock {
            timeout-ms = <50>;
            key-positions = <13 16>;
            bindings = <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Base Layer with Homerow Mods (LEFT HALF ONLY)
        default_layer {
            bindings = <
                &td_q        &kp W        &kp E        &kp R        &kp T
                &mt LGUI A   &mt LALT S   &mt LCTRL D  &mt LSHFT F  &kp G
                &kp Z        &kp X        &kp C        &kp V        &kp B
                                                       &lt 1 SPACE  &lt 2 TAB
            >;
        };

        // Layer 1: Numbers & Symbols
        lower_layer {
            bindings = <
                &kp N1       &kp N2       &kp N3       &kp N4       &kp N5
                &kp GRAVE    &kp MINUS    &kp EQUAL    &kp LBKT     &trans
                &kp LGUI     &kp LALT     &kp LCTRL    &kp LSHFT    &trans
                                                       &trans       &trans
            >;
        };

        // Layer 2: Shifted Numbers & Symbols
        raise_layer {
            bindings = <
                &kp LS(N1)   &kp LS(N2)   &kp LS(N3)   &kp LS(N4)   &kp LS(N5)
                &kp LS(GRAVE) &kp LS(MINUS) &kp LS(EQUAL) &kp LS(LBKT) &trans
                &kp LGUI     &kp LALT     &kp LCTRL    &kp LSHFT    &trans
                                                       &trans       &trans
            >;
        };

        // Layer 3: Function Keys & Navigation
        function_layer {
            bindings = <
                &kp F1       &kp F2       &kp F3       &kp F4       &trans
                &kp F5       &kp F6       &kp F7       &kp F8       &trans
                &kp F9       &kp F10      &kp F11      &kp F12      &trans
                                                       &trans       &trans
            >;
        };

        // Layer 4: Media Controls
        media_layer {
            bindings = <
                &kp C_PREV   &kp C_PP     &kp C_NEXT   &kp C_STOP   &trans
                &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP &kp C_BRI_DN &kp C_BRI_UP
                &trans       &trans       &trans       &trans       &trans
                                                       &trans       &trans
            >;
        };
    };
};
