if SHIELD_SIMPLE34_DONGLE

config ZMK_KEYBOARD_NAME
	default "simple34 Dongle"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_SIMPLE34_LEFT_CENTRAL

config ZMK_KEYBOARD_NAME
	default "simple34 Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_USB
	default y

endif

if SHIELD_SIMPLE34_LEFT || SHIELD_SIMPLE34_LEFT_CENTRAL || SHIELD_SIMPLE34_RIGHT || SHIELD_SIMPLE34_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y
	
endif